@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-heading: #F8F8F8;
    --color-primary-text: #1A2F4B;
    --color-secondary-text: #4C7C9C;
    --color-secondary-text-alt: #00A38B;

    --color-dropdown: #4C7C9C;
    --color-primary-bckg: #F5F5F5;
    --color-secondary-bckg: #F1F1F1;

    --color-banner-header: #0a1c3f;
    --color-banner-top: #4C7C9C;
    --color-banner-text: #1A2F4B;
    --color-banner-text-alt: #F5F5F5;

    --color-beranda-title: #2E4567;

    --color-primary-card: #F8F8F8; 
    --color-card-title: #0A1C3F;

    --color-primary-wcu: #E4ECEF;
    --color-icon-wcu: #CBE4F0;

    --color-primary-news: #F8F8F8;
    --color-news-title: #0A1C3F; 
    --color-news-read: #0A1C3F;

    --color-nav-layanan: #F8F8F8;

    --color-footer-bckg: #E4ECEF;
    --color-footer-title: #4C7C9C;
    --color-footer-text: #1b2b42;
    --color-footer-icon: #4C7C9C;
    --color-footer-secondary-icon: #3D637D;

    /* button */
    --color-btn1: #2A3B55;
    --color-btn1-t: #F5F5F5;
}

.dark {
    --color-primary-heading: #2A3B55;
    --color-primary-text: #F5F5F5;
    --color-secondary-text: #8BB4D1;
    --color-secondary-text-alt: #14b8a6;

    --color-dropdown: #009689;
    --color-primary-bckg: #1d263b;
    --color-secondary-bckg: #25304B;

    --color-banner-header: #009689;
    --color-banner-top: #009689;
    --color-banner-text: #F5F5F5;
    --color-banner-text-alt: #1d263b;

    --color-beranda-title: #14b8a6;

    --color-primary-card: #2A3B55;
    --color-card-title: #D1D1D1;

    --color-primary-wcu: #2A3B55;
    --color-icon-wcu: #6B8EAD;

    --color-primary-news: #2A3B55;
    --color-news-title: #8BB4D1;
    --color-news-read: #8BB4D1;

    --color-nav-layanan: #334766;

    --color-footer-bckg: #0A1C3F;
    --color-footer-title: #009689;
    --color-footer-text: #e0fffc;
    --color-footer-icon: #009689;
    --color-footer-secondary-icon: #00786E;

    /* button */
    --color-btn1: #00786E;
    --color-btn1-t: #F5F5F5;
}

div {
    border: solid 1px transparent;
}

/* Button style */
.btn-1 {
    @apply 
    rounded-lg px-8 py-4 
    text-btn1-t
    bg-btn1 hover:bg-btn1/50
    hover:backdrop-blur-sm hover:border-2 hover:border-white
    focus:outline-none focus:ring focus:ring-[#]
    transition duration-300;
}